
export BBL_VSPHERE_VCENTER_USER=
export BBL_VSPHERE_VCENTER_PASSWORD=''
export BBL_VSPHERE_VCENTER_IP=
export BBL_VSPHERE_VCENTER_DC=Datacenter
export BBL_VSPHERE_VCENTER_CLUSTER=Cluster
export BBL_VSPHERE_VCENTER_RP=
export BBL_VSPHERE_NETWORK=PAS-Infrastructure
export BBL_VSPHERE_VCENTER_DS=
export BBL_VSPHERE_SUBNET_CIDR=
export BBL_VSPHERE_VCENTER_DISKS=
export BBL_VSPHERE_VCENTER_TEMPLATES=cp_templates
export BBL_VSPHERE_VCENTER_VMS=cp_vms
